In [2]:
import pandas as pd
import numpy as np
from pandas import Timestamp

In [2]:
f1 = pd.read_csv("Phish/phishtank.csv")
f2 = pd.read_csv("Phish/PhishDec13.csv")
f3 = pd.read_csv("Phish/PhishMarch4.csv")
f4 = pd.read_csv("Phish/PhishMarch23.csv")
f5 = pd.read_csv("Phish/PhishMay9.csv")
f6 = pd.read_csv("Phish/phishtank2019may20.csv")

In [3]:
f1=f1.drop(["phish_id","phish_detail_url","verified","online","target","verification_time"],axis=1)
f2=f2.drop(["phish_id","phish_detail_url","verified","online","target","verification_time"],axis=1)
f3=f3.drop(["phish_id","phish_detail_url","verified","online","target","verification_time"],axis=1)
f4=f4.drop(["phish_id","phish_detail_url","verified","online","target","verification_time"],axis=1)
f5=f5.drop(["phish_id","phish_detail_url","verified","online","target","verification_time"],axis=1)
f6=f6.drop(["phish_id","phish_detail_url","verified","online","target","verification_time"],axis=1)

In [4]:
total = len(f1)+len(f2)+len(f3)+len(f4)+len(f5)+len(f6)
print(total)

99159

In [5]:
all_in_one = None

In [6]:
all_in_one = f1.append(f2)
all_in_one = all_in_one.append(f3)
all_in_one = all_in_one.append(f4)
all_in_one = all_in_one.append(f5)
all_in_one = all_in_one.append(f6)
len(all_in_one)

99159

In [7]:
all_in_one["submission"]=[i[:10] for i in all_in_one.submission_time]
all_in_one["year"]=[i[:4] for i in all_in_one.submission]

In [8]:
all_in_one=all_in_one.drop("submission_time",axis=1)

In [9]:
all_in_one.head()

                                                 url  submission  year
0                              http://www.lineac.cn/  2018-07-17  2018
1                 http://www.soradtt.com/werinkolss/  2018-07-16  2018
2  http://irs.tax.gov.customercare.3206250713.tax...  2018-07-16  2018
3                             http://taxi956.ru/irs/  2018-07-16  2018
4  https://mankyousam.info/lil/att/attiinnddeexx.php  2018-07-16  2018

In [10]:
all_in_one['Timestamp'] = pd.to_datetime(all_in_one['submission'], errors='coerce')

In [11]:
f1 = f2 = f3 = f4 = 0
for i in all_in_one.submission:
    if "2018" in i:
        f1+=1
    elif "2019" in i:
        f2+=1
    elif "2016" in i:
        f3+=1
    elif "2017" in i:
        f4 += 1

In [12]:
len(all_in_one)

99159

In [13]:
year_list = []
for i in all_in_one.submission:
    j = i.split("-")[0]
    if j not in year_list:
        year_list.append(j)

In [14]:
year_list = [int(i) for i in year_list if type(i) == str]

In [15]:
year_list.sort()
year_list

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [16]:
all_in_one = all_in_one.sort_values("submission")

In [17]:
unique_elements = all_in_one.drop_duplicates()

In [18]:
unique_elements.head()

,url,submission,year,Timestamp
32238,http://www.avgt.com/www.paypal.com/clients/upd...,2008-06-20,2008,2008-06-20
32236,http://www.paypal.com.serv-1-redirect.aortadob...,2008-06-27,2008,2008-06-27
32237,http://www.avgt.com/update.paypal.com/clients/...,2008-06-27,2008,2008-06-27
32235,http://www.paypal.com.serv-5-redirect.aortadob...,2008-06-29,2008,2008-06-29
32234,http://www.comictube.com/m_hotties/.www.paypal...,2008-07-10,2008,2008-07-10

In [19]:
#unique_elements.sort_ 
#week_number.value_counts(sort=True)

In [20]:
53*7

371

In [21]:
#unique_elements["year"]=[i[:4] for i in unique_elements.submission]

In [22]:
#unique_elements.year.value_counts()
len(unique_elements)

58407

In [23]:
last_year = unique_elements.loc[unique_elements['year'] == "2018"]
this_year = unique_elements.loc[unique_elements['year'] == "2019"]

In [24]:
last_year["month"]=[i[5:7] for i in last_year.submission]
this_year["month"]=[i[5:7] for i in this_year.submission]

C:\Users\arabraha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\arabraha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
last_year = last_year.sort_values("month")
this_year = this_year.sort_values("month")

In [26]:
#seventeenmonthdata = last_year.append(this_year)

In [27]:
len(last_year)+len(this_year)

44416

In [28]:
#this_year.month.value_counts(ascending=True)

In [29]:
#last_year.month.value_counts()

In [30]:
this_year.month=[int(i)+12 for i in this_year.month[:len(this_year.month)]]

In [31]:
last_year['week_number']=last_year['Timestamp'].dt.week
this_year['week_number']=this_year['Timestamp'].dt.week+52

In [32]:
this_year.week_number.value_counts(ascending=True)

53     101
54     177
55     213
57     307
56     321
73     332
58     392
59     511
60     521
61     733
64     856
62     908
65     933
66     935
63     966
68    1009
69    1052
67    1160
71    1369
70    1431
72    1968
Name: week_number, dtype: int64

In [33]:
present_data = last_year.append(this_year)

In [34]:
present_data=present_data.sort_values("week_number")

In [35]:
present_data["Label"]=1

In [36]:
present_data.head()

,url,submission,year,Timestamp,month,week_number,Label
18446,http://www.brianmicklethwait.com/index.php?URL...,2018-01-01,2018,2018-01-01,01,1,1
18413,http://hentech.com.hk/img/office360/,2018-01-02,2018,2018-01-02,01,1,1
18445,http://www.vineyard-garden.com/images/fd542108...,2018-01-01,2018,2018-01-01,01,1,1
18444,https://fquiroga.000webhostapp.com/ok/UPGRADE%...,2018-01-01,2018,2018-01-01,01,1,1
18442,https://sites.google.com/site/acctfbcontacus80...,2018-01-01,2018,2018-01-01,01,1,1

In [37]:
len(present_data)

44416

In [40]:
present_data.to_csv("Phish/weeklysortedphish.csv",index=None)