In [61]:
import pandas as pd
import numpy as np

In [62]:
#Majestic Data Cleaning
MajMay5=pd.read_csv("majestic_million.csv",index_col=None)
MajMay5["URL"]="https://www."+MajMay5["Domain"]
MajMay5=MajMay5.drop(["GlobalRank","TldRank","TLD","Domain","RefSubNets","RefIPs","IDN_Domain","IDN_TLD","PrevGlobalRank","PrevTldRank","PrevRefSubNets","PrevRefIPs"],axis=1)
MajMay5["Label"]=0
MajMay5.head()

                         URL  Label
0     https://www.google.com      0
1   https://www.facebook.com      0
2    https://www.youtube.com      0
3    https://www.twitter.com      0
4  https://www.microsoft.com      0

In [64]:
MajMay5.to_csv("MajMay5.csv",index=False)

In [35]:
#Phish Tank Data Cleaning
Oct22["URL"]=Oct22["url"]
Oct22= Oct22.drop(["url","phish_id","phish_detail_url","submission_time","verified","verification_time","online","target"],axis=1)
Oct22["Label"]=1

                         URL  Label
0     https://www.google.com      0
1   https://www.facebook.com      0
2    https://www.youtube.com      0
3    https://www.twitter.com      0
4  https://www.microsoft.com      0

In [85]:
MajMay5.head()

                         URL  Label
0     https://www.google.com      0
1   https://www.facebook.com      0
2    https://www.youtube.com      0
3    https://www.twitter.com      0
4  https://www.microsoft.com      0

In [104]:
a = pd.read_csv("PhishTankPrep/march23phish.csv",index_col=0)

In [105]:
a = a.append(MajMay5[80000:100000])

In [106]:
len(a.URL)

30398

In [107]:
a.to_csv("datasetmarch23.csv")